{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Andrew Keogh</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <!-- Icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link  rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>

<body>

  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="#"><i class="fas fa-laptop" style="color: #ef6827;"></i></a>
      <!-- <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="#">About</a>-->
      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="#portscroll">Porfolio</a>
      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="{% url 'allarticles' %}">Article</a>
      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="{% url 'contactpage' %}">Contact</a>
      
    </div>
  </nav>

  <div class="intro container-fluid no-padding">
   <div class="row">
    <div class="col-md-12">
      <img src="{% static 'imgs/bgimg.jpg' %}" alt="placeholder 960" class="img-responsive" style="width: 100%; height: 450px"/>
    </div>
  </div>
</div>


<section class="introtwo  text-center">
  <div class="container ">
    <h1 class="jumbotron-heading">ANDREW KEOGH</h1>
    <p class="lead" style="color:white; font-weight: bold;">Hello, Welcome to my online portfolio.</p>
    <br / >
    <hr style="border: 0; height: 1px; background: #ef6827; width: 50%;"/>
    <h2 class="jumbotron-heading">PORTFOLIO</h2>
    <a href="#portscroll" class="btn" style=" padding-top: 0px"><i class="fas fa-caret-down fa-2x"></i></a> 
  </p>
</div>


<!-- need to loop through with db data -->
  <div class=" portexa container-fluid">
    <!-- Project One -->
    {% for exam in PortfolioExample.all %}
    <div id="portscroll"class="row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{ exam.image.url }}" alt="">
      </div>
      <div class="col-md-5">
        <h3>{{ exam.title }}</h3>
        <hr style="width: 50%; background-color:#ef6827;" />
        <p>{{ exam.summery|safe }}</p>
        <a class="btn" target="_blank" href="{{ exam.link }}">VIEW PROJECT<i class="fab fa-github-square"></i></i></a>
      </div>
    </div>
    
    <!-- /.row -->
    <hr style="width: 100%; background-color:#21201f;"/>
    {% endfor %}
  </div>
</section>


<!-- need to add date -->
<footer class="footermain container-fluid py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; {% now "Y" %}  Andrew Keogh</small>
    </div>
</footer>


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    </script>
  </body>
  </html>
