{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Andrew Keogh python portfolio and online blog hoping to share software and intresting software blogs">
  <meta name="author" content="Andrew Keogh">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Andrew Keogh</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <!-- Icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link  rel="stylesheet" type="text/css" href="{% static 'css/articles.css' %}">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>

<body>

  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="{% url 'home' %}"><i class="fas fa-laptop" style="color: #ef6827;"></i></a>
      <!-- <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="#">About</a>-->

      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="{% url 'home' %}">Porfolio</a>
      <a class="py-2 d-none d-md-inline-block d-block mx-auto active" href="{% url 'allarticles' %}">Article</a>
      <a class="py-2 d-none d-md-inline-block d-block mx-auto" href="{% url 'contactpage' %}">Contact</a>
      
    </div>
  </nav>



  <section class="introtwo  text-center">
    <div class="container ">
      <h1 class="jumbotron-heading">ARTICLES</h1>
      <br / >
      <hr style="border: 0; height: 1px; background: #ef6827; width: 50%;"/>
    </div>

    <div class="container">
      <div class="row ">
        {% for blog in article.all %}
        <!-- Blog Entries Column -->
        <div class="col-md-8 mx-auto">
          <!-- Blog Post -->
          <div class="card">
            <img class="card-img-top" src="{{ blog.image_blog.url }}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ blog.title|safe }}</h2>
              <p class="card-text">{{ blog.article_summery|safe }} </p>
              <a href="{% url 'detail' blog.id %}" id="readmore" class="btn">Read More &rarr;</a>
            </div>
            <div class="card-footer">
              Posted on {{ blog.format_date }} by
              <a href="https://github.com/Keoooo" target="_blank">Andrew Keogh</a>
            </div>
          </div>

        </div>
        {% endfor %}

      </section>




      <!-- need to add date -->
      <footer class="footermain container-fluid py-5">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; {% now "Y" %}  Andrew Keogh</small>
          </div>
        </footer>


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    </script>
  </body>
  </html>
