{% load static %}
.container {
  max-width: 960px;
  font-family: 'Roboto Condensed', sans-serif;
}

/*
 * Custom translucent site header
 */

 .site-header {
  background-color: #21201f; 
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}


.site-header a {
  color: #ef6827;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.no-padding{
  padding-left:0;
  padding-right:0;
}



 /* hero img not in use  */
.intro{
    background-color:orange;
    opacity:1;    /* -> transparency 50% */
    z-index:1;      /* -> put overlay over image */
}

 /* hero below img */
.introtwo{
 background-color: #21201f;
 padding-top:5px;
 margin-bottom: 0px;
 color: #fff;
}
.introtwo i {
  padding-left: 2px;
}

.introtwo a {
  color: #ef6827;
  transition: ease-in-out color .15s;
}

.introtwo a:hover {
  color: #fff;
  text-decoration: none;
}

 /* portfolio section*/
.portexa{
background-color: white;
padding-top: 5px;
color: #21201f;
font-weight: bold;
}

.portexa h3 {
color: #21201f;
}

.portexa a {
background-color: #21201f;
border-radius: 12px;
}


.portexa img{
padding: 5px;
height: 300px;
width: 700px;
}

.footermain{
  background-color: #21201f;
}

.footermain h5{
  color: #ef6827;
}


.footermain i{
  color: #ef6827;
  padding-left: 5px;s
}

/*
 * Extra utilities
 */

 .flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }